.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(130, 130, 130, 1);
    border-radius: 35px;
    background: aliceblue;
}

#display {
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 30px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#equal {
    background-color: orange;
    color: white;
}

.button:hover {
    background-color: black;
    color: azure;
    transition: 0.5s ease-in-out;
}